pandas-profiling
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
xgboost==2.0.3
nltk==3.8.1
scipy==1.13.0
scikit-surprise==1.1.3
Flask==3.0.3
gunicorn==22.0.0  # For deployment on Heroku
joblib==1.4.2
